*

{
    padding: 0;
    margin: 0;
}

.app {
    display: none;
    width: 100%;
    min-height: 100vmax;
    background-image: linear-gradient(to bottom right, rgb(18, 124, 211), rgb(33, 77, 172));
    align-items: center;
    justify-content: center;
}

.app_adjust {
    width: 70%;
    height: 70%;
    
}

.app_logo {
    background-image: url(./imgs/logo.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin: 40px;

}

.app_conteudo {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.app_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.app_button_pr {
    padding: 15px 40px;
    background-color: #34af23;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

hr.white {
    border-top: 0.5px border rgba(255, 255, 255, 0.664);
    width: 70%;
    margin: auto;
    
}

.h1_titulo {
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
}

.h3blue {
    color: rgb(18, 124, 211);
    font-size: 30px;
    font-style: italic;
}

.vl {
    border-left: 1px solid rgb(49, 49, 49);
    height: 100px;
}


.texto_slider {
    padding-top: 15px;
    font-size: 20px;
    line-height: 150%;
    width: 70%;
}

.yellow {
    color: rgb(255, 217, 0);
    transition: 0.3s;
    cursor: pointer;
}

.yellow:hover {
    color: rgb(255, 217, 0);
    font-size: 120%;
    
}

.quote_font {
    font-size: 40px;
    color: rgb(18, 124, 211);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: right;
}

.texto_quote {
    color: rgba(0, 0, 0, 0.644);
    font-size: 23px;
    margin-left: 25px;
    margin-top: 18px;
    
}

.texto_quote_ {
    color: rgba(0, 0, 0, 0.644);
    font-size: 20px;
    font-style: italic;
    padding-top: 15px;
    
}



.text_depoimento_assinatura {
    color: rgb(18, 124, 211);
    font-weight: 600;
    font-style: italic;
    padding-top: 15px;
    text-align: right;
    }

.text_depoimento_assinatura_ {
    color: rgba(83, 160, 223, 0.671);
    font-style: italic;
    text-align: right;
    }

.especialidades {
    color: white;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 37px;
}

body {
    background: rgb(184, 213, 241);
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.slider {
    background-image: linear-gradient(to right, rgb(33, 115, 240) , rgb(18, 228, 235));
    width: 100%px;
    height: 80vh;
}

.menusuperior { 
    height: 80px;
    padding-top: 20px;
}

.menuconteudo {
    width: 70%;
    margin: auto;
    height: 80px;
    
}

.header {
    height: 80vh;
    background-image: linear-gradient(to right, rgb(33, 115, 240) , rgb(22, 56, 150));;
    padding-top: 15px;
}

.container_header {
    height: 100%;
    margin: 0 19%;
}

.menu_superior {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.box_logo {
    background-image: url(./imgs/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 110px;
    
}

.menu_itens {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.box_content {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.foto_principal {
    background-image: url(./imgs/fotoslider.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:contain ;
    width: 50%;
}

.logo {
    float: left;
    width: 40%;
}

.logopar {
    padding-top: 14px;
    height: 50px;
}

.menulinks {
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: flex-end;
    
}

.itemMenu {
    float: left;
    padding-left: 20px;
    cursor: pointer;
}

.itemMenu:hover {
    color: rgb(255, 217, 0);
    
}

.slide_conteudo {
    width: 70%;
    margin: auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
    
}

.container_section {
    width: 70%;
    height: 150px;
    position: relative;
    border: 3px solid green;
    
}

.conteudo_slide_left {
    width: 50%;
    float: left;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 76px;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    flex-direction: column;
    
}

.conteudo_slide_right {
    width: 47%;
    background-image: url(./imgs/fotoslider.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transition: 0.5s;
}

.conteudo_slide_right:hover {
    transform: translateX(-5%);
}

.fotoslider_par {
    height: 100%;
    width: 50%;
}

.secoes_site { 
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    background: rgb(214, 214, 214);  
    transition: 0.3s;
    cursor: pointer;
    display: none;
}



.div_half { 
    width: 40%;
    
      
}

.div_half_toppadding {
    width: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container { 
    height: 150px;
    position: relative;
    width: 50%;
    margin: auto;
    display: flex;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%); 
    transform: translateY(-50%);
    display: flex;
    margin-left: 25px;
}

.container_70pc {
    width: 100%;
    margin: auto;  
}

.container_70pc_ {
    width: 100%;
    margin: auto;
    text-align: center;
}



.background_branco {
    background-color: white;
    height: 600px;
    display: flex;
    transition: 0.3s;
    padding: 100px 0px;
}



.fotodoutora {
    width: 85%;
}

.conquistas {
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 45px;
}

.conquistas_icon_font {
    background: cornflowerblue;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    
}

.conquistas_icon_font:hover {
    background: darkcyan;
}

.icon_conquistas {
    color:rgb(46, 46, 46);
    font-weight: bold;
    padding: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tratamentos {
    background: rgb(33, 115, 240);
    display: flex;
    padding: 150px 0;
    
}



.box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 20px;  
    transition: 0.3s;
    align-content: center;
    border: 2px solid white;
    cursor: pointer;
}

.box:hover {
    background: #395f91; 
}

.box_conteudo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.ajuste {
    padding-top: 30px;
}

.text_box {
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    line-height: 90%;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.btn_slider {
    height: 50px;
    max-width: 150px;
    border-radius: 20px;
    border: 3px solid #34af23;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 15px 2px; 
    cursor: pointer; 
    background: #34af23; 
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

.btn_slider:hover {
    height: 50px;
    max-width: 150px;
    border-radius: 20px;
    border: 3px solid white;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 15px 2px; 
    cursor: pointer; 
    background: #1e9e0d; 
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

.btn_slider_whats {
    height: 50px;
    max-width: 200px;
    border-radius: 20px;
    border: 3px solid yellow;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 15px 2px; 
    cursor: pointer; 
    background: rgba(4, 190, 97, 0);
    transition: 0.1s;
    color: yellow; 
    letter-spacing: .1rem;
}

.btn_slider_whats:hover {
    height: 50px;
    max-width: 200px;
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 15px 2px; 
    cursor: pointer; 
    background: rgba(4, 190, 97, 0);
    transition: 0.3s;
    color: rgb(255, 255, 255); 
}


.container_especialidades {
     display: flex;
     margin: auto;
     padding-top: 15px;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     
 }

 .diferenciais {
     background: white;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 100px 19%;
     
 }

 .main {
     width: 70%;
     display: flex;
     margin: auto;
     flex-wrap: wrap;
     
 }

 .main_2 {
    width: 70%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.container_diferenciais {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 500px;
}

.ctd_diferencial {
    border: 0px ;
    border-style: dotted;
    width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ctd_diferencial > h1 {
    color: rgb(33, 115, 240);
    font-size: 50px;
    line-height: 90%;
    text-align: center;
    margin: 0 20%;
}

.ctd_diferencial > h3 {
    color: rgb(92, 92, 92);
    font-size: 15px;
    font-weight: lighter;
    line-height: 130%;
    text-align: center;
    padding: 20px 0;
    margin: 0 15%;
}

.li_adjust {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 5px;
}

.texto_item {
    font-size: 20px;
}

ul {
    list-style-type: none;
}

.icon_forward {
    font-size: 10px;
}

.ft_diferencial {
    background: rgb(255, 217, 0);
    width: 40%;
    background-image: url(./imgs/fotodiferencial.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.button_diferencial {
    color: rgb(33, 115, 240);
    font-size: 16px;
    font-weight: bold;
    padding: 15px 25px;
    border: 3px solid rgb(33, 115, 240);
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.button_diferencial:hover {
    background: rgb(33, 115, 240);
    color: white;
}

 .main_footer {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
    justify-content: space-between;
}

 .texto_diferenciais {
     color: rgb(36, 36, 36);
     width: 65%;
     background: rgba(128, 128, 128, 0);
     font-size: 25px;
     display: flex;
     align-items: center;
     
     
 }

 .foto_diferenciais  {
    width: 100%;
    max-width: 336px;
    background-image:url(./imgs/fotodiferencial.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 444px;

 }

 .text_nossosdiferenciais {
     color: rgb(36, 33, 68);
     font-weight: 900;
     font-size: 40px;
     font-family: 'Archivo Black', sans-serif;
 }

 .far {
     color: rgb(23, 105, 228);
     float: left;
     font-size: 30px;
     margin-right: 10px;
 }

 .ajuste_texto_diferencial {
     width: 80%;
 }

 .row_line {
     padding: 10px;
     display: flex;
 }
 
 footer {
     height: 700px;
     background: rgb(29, 29, 29);
 }

 .footer_sec { 
     width: 20%;
     margin: 20px;    
 }

 .titulo_footer {
    font-size: 22px;
    font-weight: 900;
    color: white;
 }

 .text_footer {
    font-size: 15px;
    color: white;
    cursor: pointer;
 }

 .text_footer:hover {
    color: rgb(212, 212, 212)
 }

 .text_footer_center {
    font-size: 12px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
 }

 .fab {
     color: white;
     font-size: 25px;
 }

 .fas {
     color: white;
     font-size: 25px;
 }

 .image_footer img {
    width: 30%
 }

 .galeria {
     background: rgb(33, 115, 240);
     min-height: 600px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .fotogaleria1 {
     width: 25%;
     min-height: 600px;
     background-image: url(./imgs/galeria1.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     opacity: 100%;
     transition: 0.1s;
 }

 .fotogaleria1:hover {
     opacity: 60%;
     width: 27%;
 }

 .fotogaleria2 {
    width: 25%;
    min-height: 600px;
    background-image: url(./imgs/galeria2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
    transition: 0.1s;
}

.fotogaleria2:hover {
    opacity: 60%;
    width: 27%;
}

.fotogaleria3 {
    width: 25%;
    min-height: 600px;
    background-image: url(./imgs/galeria3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
    transition: 0.1s;
}

.fotogaleria3:hover {
    opacity: 60%;
    width: 27%;
}

.fotogaleria4 {
    width: 25%;
    min-height: 600px;
    background-image: url(./imgs/galeria4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
    transition: 0.1s;
}

.fotogaleria4:hover {
    opacity: 60%;
    width: 27%;
}

.localizacao {
    padding: 150px 0;
    background: rgb(33, 115, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_map {
    background: rgb(114, 114, 114);
    min-height: 500px;
    width: 60%;
    display: flex;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.486);
}

.mapa {
    width: 65%;
    background: cornflowerblue;
}

.informacoes {
    width: 35%;
    min-height: 500px;
    background: rgb(255, 255, 255);
}


.agendamento { 
    padding: 100px;
    background: rgb(207, 207, 207); 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-image: url(./imgs/background_agendamento.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container_ag { 
    height: 70%;
    width: 68%;
    margin: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 15px gray;
}

.agendamento_foto {
    background-image: url(./imgs/agendamento.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40%;  
}

.agendamento_form { 
    background: rgb(255, 255, 255);
    width: 60%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=date] {
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=email] {
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=Submit] {
    background-color: rgb(33, 115, 240); 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=Submit]:hover {
    background-color: #45a049;
}



/* design responsivo */ 

 @media only screen and (max-width: 1601px) {
     .conteudo_slide_right {
         width: 66%;
     }

     .conteudo_slide_left {
        width: 53%;
    }

    .quote_font {
        font-size: 30px;
    }

    .main {
        flex-wrap: wrap;
    }

    .informacoes {
        width: 60%;
    }

     .background_branco {
         height: 460px;
     }

     .main {
         width: 72%;
     }
 }

 @media only screen and (max-width: 450px) {
    
    .container_diferenciais {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 45px;
    }

    .app {
        display: flex;
    }

    .header {
        display: none;
    }

    .ft_diferencial {
        width: 100%;
        height: 100vw;
    }

    .ctd_diferencial {
        width: 100%;
    }

    .especialidades {
        width: 50%;
    }

    .container_ag {
       width: 100%;
       margin:unset;
       flex-direction: column;
       box-shadow: none;
    }

    .agendamento_foto {
        width: 100%;
        height: 100vw;
    }

    .agendamento_form {
        width: 100%;
    }

    .diferenciais {
        padding: 0px 0px;
    }

    .ft_diferencial {
        border-radius: 0;
        margin-bottom: 30px;
    }

    .agendamento {
        margin: 0%;
        padding: 0;
    }

    .localizacao {
        display: none;
    }

    .galeria { 
        display: none;
    }

    footer {
        height: unset;
    }

    .main_footer {
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
    }

    .footer_sec {
        width: 100%;
    }

    .container_70pc_ {
        display: flex;
        justify-content: center;
    }

    .box {
        margin: 15px 15px;
    }

    ul {
        margin: 0 10px;
    }

    body {
        width: 100%;
    }

