*

{
    padding: 0;
    margin: 0;
}

hr.white {
    border-top: 0.5px border rgba(255, 255, 255, 0.664);
    width: 70%;
    margin: auto;
    
}

.h1_titulo {
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
}

.h3blue {
    color: rgb(18, 124, 211);
    font-size: 30px;
    font-style: italic;
}

.vl {
    border-left: 1px solid rgb(49, 49, 49);
    height: 100px;
}


.texto_slider {
    padding-top: 15px;
    font-size: 20px;
    line-height: 150%;
    width: 70%;
}

.yellow {
    color: rgb(255, 217, 0);
    transition: 0.3s;
    cursor: pointer;
}

.yellow:hover {
    color: rgb(255, 217, 0);
    font-size: 120%;
    
}

.quote_font {
    font-size: 40px;
    color: rgb(18, 124, 211);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: right;
}

.texto_quote {
    color: rgba(0, 0, 0, 0.644);
    font-size: 23px;
    margin-left: 25px;
    margin-top: 18px;
    
}

.texto_quote_ {
    color: rgba(0, 0, 0, 0.644);
    font-size: 20px;
    font-style: italic;
    padding-top: 15px;
    
}



.text_depoimento_assinatura {

color: rgb(18, 124, 211);
font-weight: 600;
font-style: italic;
padding-top: 15px;
text-align: right;
}

.text_depoimento_assinatura_ {

    color: rgba(83, 160, 223, 0.671);
    font-style: italic;
    text-align: right;
    }

.especialidades {
    color: white;
    font-size: 30px;
    font-weight: 900;
    
}

body {
    background: rgb(184, 213, 241);
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.slider {
    background-image: linear-gradient(to right, rgb(18, 124, 211) , rgb(18, 228, 235));
    width: 100%px;
    height: 600px;
}

.menusuperior { 
    height: 80px;
    padding-top: 20px;
}

.menuconteudo {
    width: 70%;
    margin: auto;
    height: 80px;
    
}

.logo {
    float: left;
    width: 40%;
}

.logopar {
    padding-top: 14px;
    height: 50px;
}

.menulinks {
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

.itemMenu {
    float: left;
    padding-left: 20px;
    cursor: pointer;
}

.itemMenu:hover {
    color: rgb(255, 217, 0);
    font-weight: bold;   
}

.slide_conteudo {
    width: 70%;
    margin: auto;
    height: 500px;
    display: flex;
    
}

.container_section {
    width: 70%;
    height: 150px;
    position: relative;
    border: 3px solid green;
    
}

.conteudo_slide_left {
    width: 50%;
    float: left;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 76px;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    flex-direction: column;
    
}

.conteudo_slide_right {
    width: 47%;
    background-image: url(./imgs/fotoslider.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transition: 0.5s;
}

.conteudo_slide_right:hover {
    transform: translateX(-5%);
}

.fotoslider_par {
    height: 100%;
    width: 50%;
}

.secoes_site { 
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    background: rgb(255, 217, 0);  
    transition: 0.3s;
    cursor: pointer;
}



.div_half { 
    width: 40%;
    
      
}

.div_half_toppadding {
    width: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container { 
    height: 150px;
    position: relative;
    width: 50%;
    margin: auto;
    display: flex;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%); 
    transform: translateY(-50%);
    display: flex;
    margin-left: 25px;
}

.container_70pc {
    width: 100%;
    margin: auto;  
}

.container_70pc_ {
    width: 100%;
    margin: auto;
    text-align: center;
}



.background_branco {
    background-color: white;
    height: 600px;
    display: flex;
    transition: 0.3s;
}

.background_branco:hover {
    height: 105vh;
    background-image: linear-gradient(to bottom right, white, rgb(219, 218, 218));
}

.fotodoutora {
    width: 85%;
}

.conquistas {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 50px;
}

.conquistas_icon_font {
    background: cornflowerblue;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    
}

.conquistas_icon_font:hover {
    background: darkcyan;
}

.icon_conquistas {
    color:rgb(46, 46, 46);
    font-weight: bold;
    padding: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tratamentos {
    background: #4689c3;
    height: 500px;
    display: flex;
    
}



.box {
    width: 200px;
    height: 200px;
    background: #ffffff;
    border-radius: 10px;
    margin-right: 20px;  
    transition: 0.3s;
    align-content: center;
    box-shadow: 3px 3px 15px rgb(0, 217, 255);
    cursor: pointer;
}

.box:hover {
    background: #8cece8; 
    height: 180px;  
    width: 180px;
}

.box_conteudo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.ajuste {
    padding-top: 30px;
}

.text_box {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    padding-top: 5px;
    line-height: 90%;
    color: rgb(14, 63, 112);
    cursor: pointer;
}

.btn_slider {
    height: 50px;
    max-width: 150px;
    border-radius: 20px;
    border: 3px solid #34af23;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 15px 2px; 
    cursor: pointer; 
    background: #34af23; 
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

.btn_slider:hover {
    height: 50px;
    max-width: 150px;
    border-radius: 20px;
    border: 3px solid white;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 15px 2px; 
    cursor: pointer; 
    background: #1e9e0d; 
    transition: 0.3s;
    color: rgb(255, 255, 255);
}

.btn_slider_whats {
    height: 50px;
    max-width: 200px;
    border-radius: 20px;
    border: 3px solid yellow;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 15px 2px; 
    cursor: pointer; 
    background: rgba(4, 190, 97, 0);
    transition: 0.1s;
    color: yellow; 
    letter-spacing: .1rem;
}

.btn_slider_whats:hover {
    height: 50px;
    max-width: 200px;
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 15px 2px; 
    cursor: pointer; 
    background: rgba(4, 190, 97, 0);
    transition: 0.3s;
    color: rgb(255, 255, 255); 
}


.container_especialidades {
     display: flex;
     margin: auto;
     padding-top: 15px;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     
 }

 .diferenciais {
     background: white;
     min-height: 600px;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 .main {
     width: 70%;
     display: flex;
     margin: auto;
     flex-wrap: wrap;
     
 }

 .main_2 {
    width: 70%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

 .main_footer {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
    justify-content: space-between;
}

 .texto_diferenciais {
     color: rgb(36, 36, 36);
     width: 65%;
     background: rgba(128, 128, 128, 0);
     font-size: 25px;
     display: flex;
     align-items: center;
     
     
 }

 .foto_diferenciais  {
    width: 100%;
    max-width: 336px;
    background-image:url(./imgs/fotodiferencial.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 444px;

 }

 .text_nossosdiferenciais {
     color: rgb(36, 33, 68);
     font-weight: 900;
     font-size: 40px;
     font-family: 'Archivo Black', sans-serif;
 }

 .far {
     color: rgb(23, 105, 228);
     float: left;
     font-size: 30px;
     margin-right: 10px;
 }

 .ajuste_texto_diferencial {
     width: 80%;
 }

 .row_line {
     padding: 10px;
     display: flex;
 }
 
 footer {
     height: 500px;
     background: rgb(29, 29, 29);
 }

 .footer_sec { 
     width: 20%;
     margin: 20px;    
 }

 .titulo_footer {
    font-size: 22px;
    font-weight: 900;
    color: white;
 }

 .text_footer {
    font-size: 15px;
    color: white;
    cursor: pointer;
 }

 .text_footer:hover {
    color: rgb(212, 212, 212)
 }

 .text_footer_center {
    font-size: 12px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
 }

 .fab {
     color: white;
     font-size: 25px;
 }

 .fas {
     color: white;
     font-size: 25px;
 }

 .image_footer img {
    width: 30%
 }

 .galeria {
     background: rgb(33, 115, 240);
     min-height: 600px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .fotogaleria1 {
     width: 25%;
     min-height: 600px;
     background-image: url(./imgs/galeria1.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     opacity: 100%;
     transition: 0.1s;
 }

 .fotogaleria1:hover {
     opacity: 60%;
     width: 27%;
 }

 .fotogaleria2 {
    width: 25%;
    min-height: 600px;
    background-image: url(./imgs/galeria2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
    transition: 0.1s;
}

.fotogaleria2:hover {
    opacity: 60%;
    width: 27%;
}

.fotogaleria3 {
    width: 25%;
    min-height: 600px;
    background-image: url(./imgs/galeria3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
    transition: 0.1s;
}

.fotogaleria3:hover {
    opacity: 60%;
    width: 27%;
}

.fotogaleria4 {
    width: 25%;
    min-height: 600px;
    background-image: url(./imgs/galeria4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
    transition: 0.1s;
}

.fotogaleria4:hover {
    opacity: 60%;
    width: 27%;
}

.localizacao {
    min-height: 700px;
    background: rgb(134, 197, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_map {
    background: rgb(114, 114, 114);
    min-height: 500px;
    width: 60%;
    display: flex;
}

.mapa {
    width: 65%;
    background: cornflowerblue;
}

.informacoes {
    width: 35%;
    min-height: 500px;
    background: rgb(255, 217, 0);
}

 @media only screen and (max-width: 1601px) {
     .conteudo_slide_right {
         width: 66%;
     }

     .conteudo_slide_left {
        width: 53%;
    }

    .quote_font {
        font-size: 30px;
    }

    .main {
        flex-wrap: wrap;
    }

    .informacoes {
        width: 60%;
    }

     .background_branco {
         height: 460px;
     }

     .main {
         width: 72%;
     }
 }

 @media only screen and (max-width: 450px) {
    .slider {
        height: 764px;
    }

    .slide_conteudo {
        height:unset;
    }

    .conteudo_slide_left {
        padding-top: 50px;
    }

    .menulinks {
        display: none; 
    }

    .menuconteudo {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_slider_whats { 
        margin: unset;
    }

    .quote_font {
        font-size: 19px;
    }

    .texto_quote {
        font-size: 11px;
    }

    .div_half {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .div_half_toppadding {
        width: 100%;
        transform: translateY(4%);
    }

    .conquistas {
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
    }

    .conquistas_icon_font {
        max-width: 50px;
        min-height: 50px;
    }

    .icon_conquistas {
        padding: unset;
        padding-left: 10px;
    }

    .secoes_site {
        display: block;
    }

    .container {
        display: none;
    }

    .background_branco {
        height: 950px;
        display: inherit;
        
    }

    .main {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .background_branco:hover {
        height: 950px;
        background: white;
        display: inherit;
    }

    .container_70pc_ {
        width: 96%;
    }

    .container_map {
        flex-direction: column-reverse;
        width: 100%;
    }

    .informacoes {
        width: 100%;
    }

    .galeria {
        flex-direction: column;
    }

    .fotogaleria1 {
        width: 100%;
        background-position:center;
        
    }

    .fotogaleria2 {
        width: 100%;
    }

    .fotogaleria3 {
        width: 100%;
    }

    .fotogaleria4 {
        width: 100%;
        background-position: center;
    }

    .fotogaleria1:hover {
        width: 100%;
        background-position:center;
        
    }

    .fotogaleria2:hover {
        width: 100%;
    }

    .fotogaleria3:hover {
        width: 100%;
    }

    .fotogaleria4:hover {
        width: 100%;
    }

    .mapa {
        width: 100%;
    }

    .tratamentos {
        height: 1060px;
    }

    .box {
        margin-bottom: 30px;
    }

    .ajuste_texto_diferencial {
        width: 200%; 
    }

    .foto_diferenciais {
        margin-top: 25px; 
    }

    

    .main_footer {
        display: contents;
    }

    .footer_sec {
        width: 93%;
    }

    footer {
        height: 750px;
        padding: 20px;
        
    }

    .text_nossosdiferenciais {
        font-size: 30px;
    }


}